*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 900vh;
}

nav.menu-lateral{
    width: 33px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0 0 #22302f;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

div.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
div.btn-expandir i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: 0.5s;
}
ul li.ativo{
    background-color: #22302f;
}
ul li.item-menu:hover{
    background-color: #22302f;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .text-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

/* daqui para baixo NÃO É A SIDEBAR */

body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #f6f3f2;
    color: #22302f;
}

/* cabeçalho */
.cabecalho {
    background-color: #22302f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu div {
    width: 25px;
    height: 3px;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 100px;
    height: 45px;
    border-radius: 10px;
}

.navegacao {
    display: flex;
    gap: 30px;
}

.navegacao a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navegacao a:hover {
    text-decoration: underline;
}

/* conteúdo principal */
.cont_principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

/* divs */ 
/* tudo isso é para deixar em coluna a*/
.cartoes {  
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 100px;
}

.cartao {
    background-color: #22302f;
    color: white;
    text-align: center;
    padding: 40px 20px;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.cartao {
    text-decoration: none;
    color: white;
}


.cartao h2 {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}

.cartao .numero {
    font-size: 47px;
    font-weight: bold;
    margin-bottom: 15px;
}

.linha {
    width: 95%;
    height: 3px;
    background-color: rgb(237, 234, 234);
    position: relative;
    }

.linha::after {
    content: '➜';
    position: absolute;
    right: -17.8px;   
    top: -13.6px;     
    font-size: 20px;
}

/* ao clicar */
.cartao:active {
    transform: scale(1.15);
    z-index: 10;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.4);
}

/* informações */
.informacoes {
    text-align: center;
}

.informacoes img {
    width: 500px;
    border-radius: 20px;
    margin-bottom: px;
}

.informacoes p {
    font-size: 16px;
    font-weight: bold;
    color: #22302f;
}

/* Rodapé início */
.rodape {
    background-color: #22302f;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    position: fixed; /* para deixar fixo */
    bottom: 0; 
    width: 100%;
}

.rodape p {
    margin: 5px 0;
}