* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'The Seasons', serif;
}


body {
    min-height: 100vh;
    background: #f6f3f2;
}

/* cabeçalho do login */
.cabecalho {
    background-color: #223d3c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
}

.logo img {
    width: 50px;
    height: 40px;
}

/* conteúdo */
.conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 60px 40px; */
    margin-top: 150px;
}

/* logo */
.caixa-logo {
    background: #ffffff;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
}

.caixa-logo img {
    width: 80%;
    margin-bottom: 10px;
}

.caixa-logo h1 {
    color: #2e7d32;
    font-size: 28px;
}


.secao_forme {
    width: 40vw;
    display: flex;
    justify-content: center;
    unicode-bidi: isolate;
}

/* formulário de login */
.formulario {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 420px;
    text-align: center;
    }

.formulario h1 {
    margin-bottom: 20px;
    color: #010101;
    font-size: 22px;
}

.solicitar-email, .solicitar-senha {
    margin-bottom: 15px;
    text-align: left;
}

#email, #senha {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* botão de login */
#butao-login {
    font-family: 'The Seasons', serif;
    width: 100%;
    padding: 10px;
    background: #223d3c;
    color: #f5fdfd;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#butao-login:hover {
    background: #1b2f2e;
}

/* Rodapé login*/
.rodape {
    background-color: #223d3c;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    position: fixed; /* para deixar fixo */
    bottom: 0; 
    width: 100%;
}

.rodape p {
    margin: 5px 0;
}
