body {
    margin: 0;
    padding: 0;
    background-color: #f1f5f4;
    font-family: 'Segoe UI', sans-serif;
}

/* Cabeçalho */
.cabecalho {
    background-color: #22302f;
    padding: 15px 50px;
    display: flex;
    justify-content: flex-end; /*deixa a logo a esquerda */
    text-align: center;
}

.logo {
    height: 40px;
}

/* SIDEBAR INCREMENTADA */
.sidebar {
    width: 260px;
    background-color: #22302f;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: 0.4s ease;
    position: fixed;
    text-decoration: none;
    top: 0; /* Agora começa no topo da tela */
    left: -260px;
    height: 100vh; /* Sidebar de cima a baixo */
    z-index: 999;
}

/* QUANDO PASSAR O MOUSE → ABRE */
.sidebar:hover {
    left: 0;
    width: 260px;
}

/* TÍTULO DO MENU */
.sidebar h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
    opacity: 0;
    transition: 0.3s;
}

/* APARECE O TEXTO AO PASSAR O MOUSE */
.sidebar:hover h2 {
    opacity: 1;
}

/* ÍCONES E LINKS DA SIDEBAR */
.menu-item {
    color: white;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none; /* Remove aparência de link */
    cursor: default; /* Não fica com mãozinha */
    opacity: 0;
    transition: 0.3s;
}

/* Aparece ao passar o mouse */
.sidebar:hover .menu-item {
    opacity: 1;
}

/* Ícone hambúrguer */
.sidebar::before {
    content: "☰";
    color: white;
    font-size: 28px;
    position: absolute;
    top: 20px;
    right: 15px;
    transition: 0.3s;
}

.sidebar:hover::before {
    opacity: 0;
}


.container {
    width: 80%;
    margin: 40px auto;
    background: #fff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.titulo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #1d2f2d;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela th {
    background-color: #1d2f2d;
    color: #fff;
    padding: 12px;
    text-align: left;
    font-weight: normal;
}

.tabela td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.tabela tr:hover {
    background-color: #f4f8f7;
}

/* Botões */
.acoes {
    display: flex;
    gap: 10px;
}

.topo-acoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.cadastrar {
    background-color: #1d2f2d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}

.cadastrar:hover {
    background-color: #2b4845;
}

.btn {
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
}

.editar {
    background-color: #1d2f2d;
    color: white;
}

.editar:hover {
    background-color: #28423f;
}

.excluir {
    background-color: #b32020;
    color: white;
}

.excluir:hover {
    background-color: #d32c2c;
}

/* Rodapé */
.footer {
    background-color: #22302f;
    color: white;
    text-align: center;
    padding: 18px 10px;
    font-size: 14px;
    line-height: 1.6;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 997;
}
